/* src/styles/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.toggle-dropdown {
  right: 0;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out,
      visibility 0.25s ease-in-out;
  will-change: transform;
}
.toggle-dropdown.active {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.8s cubic-bezier(0, 1, 0.4, 1),
      transform 0.8s cubic-bezier(0.18, 1.25, 0.4, 1), visibility 0.4s linear;
  transform: scale(1);
}

.ant-drawer-body{
  padding: 0px !important;
}

.viewproductdetailrightbox{
  width: calc(100% - 20rem);
}